footer.footer
	.wrapper
		.footer__logo
			a(href="#")
				img(src='../../img/logo.png').footer__logo-image 
		.footer__info
			.footer__header Информация
			.footer__link
				a(href="#") О сайте
			.footer__link
				a(href="#") Лицензия
			.footer__link
				a(href="#") FAQ
			.footer__link
				a(href="#") Что нового?
		.footer__contacts
			.footer__header Контакты
			.footer__link
				a(href="#") instagram
			.footer__link
				a(href="#") twitter
			.footer__link
				a(href="#") vkontakte
			.footer__link
				a(href="#") facebook


.footer-fixed
	a(href="index.html" class="footer-fixed__item-img")
		<i class="fa fa-home " aria-hidden="true"></i>
	a(href="new.html" class="footer-fixed__item-img")
		<i class="fa fa-newspaper-o " aria-hidden="true"></i> 
	a(href="sets.html" class="footer-fixed__item-img")
		<i class="fa fa-archive" aria-hidden="true"></i>
	a(href="#" class="footer-fixed__item-img")
		<i class="fa fa-search" aria-hidden="true"></i>
	a(href="index.html" class="footer-fixed__item-span") Лучшее
	a(href="new.html" class="footer-fixed__item-span") Новое
	a(href="sets.html" class="footer-fixed__item-span") Сеты
	a(href="#" class="footer-fixed__item-span") Поиск



