footer.footer
	.wrapper
		.footer__logo
			img(src='../../img/logo.png').footer__logo-img 
		.footer__desc 
			p - Сделай Веб Лучше


.footer-fixed
	a(href="#" class="footer-fixed__item-img")
		<i class="fa fa-home " aria-hidden="true"></i>
	a(href="#" class="footer-fixed__item-img")
		<i class="fa fa-newspaper-o " aria-hidden="true"></i> 
	a(href="#" class="footer-fixed__item-img")
		<i class="fa fa-archive" aria-hidden="true"></i>
	a(href="#" class="footer-fixed__item-img")
		<i class="fa fa-search" aria-hidden="true"></i>
	a(href="#" class="footer-fixed__item-span") Лучшее
	a(href="#" class="footer-fixed__item-span") Новое
	a(href="#" class="footer-fixed__item-span") Сеты