
.header-fixed
	.header-fixed__nav
		a(href="#").header-fixed__nav-item Лучшее
		a(href="#").header-fixed__nav-item Новое
		a(href="#").header-fixed__nav-item Сеты
	.header-fixed__logo
		a(href="#")
			img(src="../../img/logo.png").header-fixed__logo-img
	.header-fixed__search
		.header-fixed__search-cont
			input(type="search" placeholder="Поиск фото..." name="search-field" class="header-fixed__search-field")
			svg.header-fixed__search-icon
				use(xlink:href="#search")
		.header-fixed__userpic
			a(href="#")
				img(src="../../img/userpic.png")