
.header-fixed
	.header-fixed__nav
		a(href="#").header-fixed__nav-item.active-nav лучшее
		a(href="#").header-fixed__nav-item новое
		a(href="#").header-fixed__nav-item сеты
	.header-fixed__logo
		a(href="#")
			img(src="../../img/logo.png").header-fixed__logo-img
	.header-fixed__search
		.header-fixed__search-cont
			form(action="./account.html")
				input(type="search" placeholder="Поиск фото..." name="search-field" class="header-fixed__search-field")
				svg.header-fixed__search-icon
					use(xlink:href="#search")
		.header-fixed__userpic
			a(href="#")
				img(src="../../img/userpic.png")
	.header__buttons
		button.header__login войти
		button.header__sign-up регистрация