.modal
	.modal-buttons
		.modal-like
			svg 
				use(xlink:href="#like")
			span 100
		.modal-add
			svg
				use(xlink:href="#plus")
		.modal-download
			span Скачать
	.modal-close
		svg
			use(xlink:href="#plus")
	a(href="#").modal-author-cont
		.modal-userpic
			img(src="../../img/userpic2.jpg")
		.modal-author Иван Иванович
.header-fixed
	.header-fixed__nav
		a(href="index.html").header-fixed__nav-item Лучшее
		a(href="new.html").header-fixed__nav-item Новое
		a(href="sets.html").header-fixed__nav-item Сеты
	.header-fixed__logo
		a(href="index.html")
			img(src="../../img/logo.png").header-fixed__logo-img
	.header-fixed__form
		.header-fixed__search-cont
			input(type="search" placeholder="Поиск фото..." name="search-field" class="header-fixed__search-field")
			input(type="submit" class="header-fixed__submit" onclick="location.href = 'search.html'")
			svg.header-fixed__search-icon
				use(xlink:href="#search")
		.header-fixed__userpic
			a(href="#")
				img(src="../../img/userpic.png")
		.header-fixed__buttons
			a(href="sign-in.html")
				.header-fixed__login Войти
			