header.header
	.header__nav
		a(href="#").header__nav-item Лучшее
		a(href="#").header__nav-item Новое
		a(href="#").header__nav-item Сеты
	.header__logo
		a(href="#")
			img(src="../../img/logo.png")
	.header__search
		input(type="search" placeholder="Поиск фото..." name="search-field" class="header__search-field")
		.header__userpic
			img(src="../../img/userpic.png")