.socki
	.networks
		a(href="#")
			img(src="../../img/instagram.svg").networks__instagram.networks__item
		a(href="#")
			img(src="../../img/twitter.svg").networks__twitter.networks__item
		a(href="#")
			img(src="../../img/vk.svg").networks__vkontakte.networks__item
		a(href="#")
			img(src="../../img/facebook.svg").networks__item.networks__facebook

button.button-add-photo Добавить фото

.main-block
		.main-block__item.photo-block
				.photo-block__image
					img(src="../../img/picture.png")
				.photo-block__desc
					.photo-block__buttons
						button.photo-block__like-button 10
						button.photo-block__add-button
					a(href="#").photo-block__author Картушин Алексей
					.photo-block__button-download Скачать 
	.main-block__button-more Загрузить больше


