extends main

prepend content
	+photo('../../img/picture7.jpg', '../../img/userpic.png', 'Иван Иванов', '567')
	+photo('../../img/picture3.jpg', '../../img/userpic.png', 'Иван Иванов', '300')
	+photo('../../img/picture5.jpg', '../../img/userpic.png', 'Иван Иванов', '267')
	+photo('../../img/picture.png', '../../img/userpic.png', 'Иван Иванов', '100')
	+photo('../../img/picture2.jpg', '../../img/userpic.png', 'Иван Иванов', '200')
	+photo('../../img/picture6.jpg', '../../img/userpic.png', 'Иван Иванов', '333')
	+photo('../../img/picture4.jpg', '../../img/userpic.png', 'Иван Иванов', '134')
