
.networks{
	text-align: center;

	&__item{
		padding: 0 0 4px;
		display: inline-block;
		opacity: 0.4;
		height: 26px;
		width: 26px;
		margin-right: 22px;
		&:hover{
			opacity: 1;
			transition: 0.3s;
		}
	}
	&__vk{
		width: 35px;
	}
	&__facebook{
			height: 30px;
			padding: 0px;
			margin-right: 0px;
		}
}

.pre-main{
	padding-top: 170px;
	&__header{
		font-size: 24px;
		font-family: $mainfont;
		text-align: center;
	}
	&__desc{
		padding: 0 15px;
		font-size: 16px;
		font-family: $mainfont;
		text-align: center;
		margin-top: 20px;
	}
}

.main-block{

	&__item{
		margin-top: 73px;		
	}
	&__button-more{
		margin: 0 auto;
		margin-top: 60px;
		font-size: 16px;
	 	width: 230px;
	 	height: 40px;
	 	padding-top: 12px;
	 	text-align: center;
	 	background-color: #000;
		color: #fff;
		border-radius: 24px;
	 	cursor: pointer;
	 	text-transform: uppercase;
	 	font-weight: bold;
	}
}


.button-add-photo{		
	width: 230px;
	height: 40px;
	margin: 60px auto 0;
	font-size: 16px;
	background-color: #000;
	border-radius: 50px;
	color: #fff;
	text-transform: uppercase;
	border-style: none;
	font-weight: bold;
	display: block;
	outline: none;
	cursor: pointer;
}



	.photo-block{
		@include clearfix();
		&:after{
			content: "";
			display: table;
			clear: both;
		}
		&__img-elem{
	 		width: 100%;
	 		cursor: pointer;
		}
		&__desc{
			position: relative;
			padding: 0 15px 0;
		}
		&__buttons{
			float: left;
			z-index: 10;
		}
		&__like-button{
			border-radius: 13px;
    	border: solid 2px #929292;
    	background-color: #fff;
	    font-weight: bold;
	    display: inline-block;
	    vertical-align: middle;
	    cursor: pointer;
	    outline: none;
	    height: 2em;
	    font-size: 1em;
	    padding: 0 0.8em;
	    color: $grey-color;
  		&:hover{
  			background-color:#ff4c90;
  			border-color:#ff4c90;
  			color: #fff;

  		}
  		&:hover svg use{
  			fill: #fff;
  		}
  		& span{
				font-size: 0.8em;
				vertical-align: middle;
			} 

		}
		&__like-button svg{
			width: 1.3em;
    	height: 1.3em;
    	vertical-align: middle;
    	margin-right: 0.2em;
		}
		&__like-button svg use{
			fill: #ff4c90;
		}
		&__add-button{
			vertical-align: middle;
			display: inline-block;
			border-radius: 13px;
			border: solid 2px #929292;
			background-color: #fff;
			cursor: pointer;
			outline: none;
			margin-left: 1em;
			height: 2em;
			width: 3.25em;
			font-size: 1em;
			&:hover{
				background-color:#2aaa07;
				border-color: #2aaa07;
			}
			&:hover svg use{
				fill: #fff;
			}

		}
		&__add-button svg{
			width: 1.3em;
    	height: 1.3em;
    	vertical-align: middle;
		}
		&__add-button svg use{
			fill: #2aaa07;
		}
	&__desc{
			@include clearfix();
			position: relative;
			font-size: 20px;
			text-align: center;
			padding-top: 20px;
		}
	 &__author{
	 		font-size: 1em;
    	color: #7a7a7a;
    	text-decoration: underline;
    	z-index: 1;
    	vertical-align: middle;
    	display: inline-block;
    	line-height: 2em;

	 }
	 &__userpic{
	 	display: inline-block;
	 	width: 2em;
	 	height: 2em;
	 	vertical-align: middle;
	 	margin-right: 10px;
	 }
	 &__button-download{

	 	cursor: pointer;
	 	color: #7a7a7a;
	 	font-weight: bold;
	 	border: solid 2px #929292;
	 	border-radius: 10px;
	 	text-align: center;
	 	vertical-align: middle;
	 	position: relative;
		z-index: 10;
	 	font-size: 0.9em;
	 	width: 8em;
	 	height: 2em;
	 	float: right;
	 	font-size: 1em;
	 	
	
	 }
	 &__button-download svg{
	 	display: none;
	 }
	 &__button-download-text{
	 	line-height: 1.8em;
	 }
	 	&__author-mobile{
	 		display: none;
	 	}
	 	&__userpic-mobile{
	 		display: none;
	 	}
	 
	}



	

.set-block{
	font-family: $mainfont;
	&__item{
		display: inline-block;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 30px;
		color: #fff;
		transition: 0.5s;

		
	}
	&__self-container{
		position: relative;
		font-size: 0;
		transition: 0.5s;
		&:hover .set-block__gradient{
			opacity: 1;
		}
	}
	&__img{
		width: 100%;	
		border-radius: 10px;
		transition: 0.5s;
	}
	&__row-lg .set-block__item{
	width: 50%;
	@media(max-width: 800px){
		width: 100%;
	}
	}
	&__row-sm .set-block__item{
	@media(max-width:800px){
		width: 100%;
	}
	width: 33.3333%;
	}
	&__date{
		left: 20px;
		font-size: 14px;
	}
	&__author{
		position: absolute;
		bottom: 20px;
		left: 20px;
		font-size: 14px;
		opacity: 0.8;
		color: #fff;
		text-decoration: none;
		@media(max-width: 1024px){
			opacity: 1;
		}
		&:hover{
			opacity: 1;
		}
		& img{
			vertical-align: middle;
			width: 35px;
			height: 35px;
			border-radius: 50%;
		}
		& span{
			vertical-align: middle;
			margin-left: 10px;
		}
	}
	&__set-name{
		font-size: 20px;
		margin-top: 10px;
	}
	&__info{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		padding: 20px;
		
		
	}
	&__gradient{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.6;
		transition: 0.5s;
		border-radius: 10px;
		background: -webkit-linear-gradient(rgba(0,0,0,0.6) 0%, transparent 30%, transparent 70%, rgba(0,0,0,0.6) 100%);
    background: -o-linear-gradient(rgba(0,0,0,0.6) 0%, transparent 30%, transparent 70%, rgba(0,0,0,0.6) 100%);
    background: linear-gradient(rgba(0,0,0,0.6) 0%, transparent 30%, transparent 70%, rgba(0,0,0,0.6) 100%);
	}
}






.account{
	text-align: center;
	&__avatar img{
		width: 130px;
		height: 130px;
		border-radius: 50%;
	}
	&__name{
		font-family: $mainfont;
		font-size: 27px;
		margin-top: 20px;
	}
	&__description{
		margin-top: 20px;
	}
 	&__networks{
 		margin-top: 20px;
 	}
}






.sign-in{
	color: #333;
	padding: 20px 0;
	width: 540px;
	margin: 0 auto;
	@media(max-width: 540px){
		width: 100%;
		padding: 20px 15px;
	}
	&__logo{
		text-align: center;
		& img{
			width: 140px;
			@media(max-width: 540px){
				width: 100px;
			}
		}
	}
	&__header{
		font-size: 20px;
		font-family: $mainfont;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 30px;
		text-align: center;
		& p{
			margin: 0px;
			&:first-child{
				margin-bottom: 10px;
			}
		}
	}
	&__form{
		margin: 40px 0 0;
		& p{
			text-transform: uppercase;
			font-size: 16px;
			margin-bottom: 10px;
			font-weight: 700;
		}
	}
	&__email-field{
		font-weight: 600;
		font-family: $mainfont;
		width: 100%;
		height: 40px;
		padding: 0 10px;
		border-radius: 5px;
		border: 2px solid #b2b2ae;
		outline: none;
		font-size: 16px;
	}
	&__password-field{
		font-weight: 600;
		font-family: $mainfont;
		width: 100%;
		height: 40px;
		padding: 0 10px;
		border-radius: 5px;
		border: 2px solid #b2b2ae;
		outline: none;
		font-size: 16px;
	}
	&__password{
		margin-top: 40px;
	}
	&__submit{
		background-color: #000;
		text-align: center;
		color: #fff;
		width: 100%;
		height: 40px;
		font-weight: 600;
		font-family: $mainfont;
		text-transform: uppercase;
		font-size: 16px;
		border: none;
		border-radius: 5px;
		margin-top: 40px;
	}
	&__link-to-sign-up{
		margin-top: 40px;
		width: 540px;
		font-size: 16px;
		font-weight: 600;
		line-height: 25px;
		& a{
			color: #b1b1b1;
		}
		@media(max-width: 540px){
			width: 100%;
		}
	}
}





.sign-up{
	color: #333;
	padding: 20px 0;
	width: 540px;
	margin: 0 auto;
	@media(max-width: 540px){
		width: 100%;
		padding: 20px 15px;
	}
	&__logo{
		text-align: center;
		& img{
			width: 140px;
			@media(max-width: 540px){
				width: 100px;
			}
		}
	}
	&__header{
		font-size: 20px;
		font-family: $mainfont;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 30px;
		text-align: center;
		& p{
			margin: 0px;
			&:first-child{
				margin-bottom: 10px;
			}
		}
	}
	&__form{
		& p{
			text-transform: uppercase;
			font-size: 16px;
			margin-bottom: 10px;
			font-weight: 700;
		}
	}
	&__email-field{
		font-weight: 600;
		font-family: $mainfont;
		width: 100%;
		height: 40px;
		padding: 0 10px;
		border-radius: 5px;
		border: 2px solid #b2b2ae;
		outline: none;
		font-size: 16px;
	}
	&__password-field{
		font-weight: 600;
		font-family: $mainfont;
		width: 100%;
		height: 40px;
		padding: 0 10px;
		border-radius: 5px;
		border: 2px solid #b2b2ae;
		outline: none;
		font-size: 16px;
	}
	&__submit{
		background-color: #000;
		text-align: center;
		color: #fff;
		width: 100%;
		height: 40px;
		font-weight: 600;
		font-family: $mainfont;
		text-transform: uppercase;
		font-size: 16px;
		border: none;
		border-radius: 5px;
		margin-top: 40px;
	}
	&__firstname-field{
		font-weight: 600;
		font-family: $mainfont;
		width: 100%;
		height: 40px;
		padding: 0 10px;
		border-radius: 5px;
		border: 2px solid #b2b2ae;
		outline: none;
		font-size: 16px;
	}
	&__lastname-field{
		font-weight: 600;
		font-family: $mainfont;
		width: 100%;
		height: 40px;
		padding: 0 10px;
		border-radius: 5px;
		border: 2px solid #b2b2ae;
		outline: none;
		font-size: 16px;
	}
	&__firstname{
		width: 48%;
		display: inline-block;
	}
	&__lastname{
		width: 48%;
		margin-left: 4%;
		display: inline-block;
	}
	&__link-to-sign-in{
		margin-top: 40px;
		width: 540px;
		font-size: 16px;
		font-weight: 600;
		line-height: 25px;
		& a{
			color: #b1b1b1;
		}
		@media(max-width: 540px){
			width: 100%;
		}
	}
}




.search-page-mobile{
	display: none;
	position: relative;
	display: inline-block;
	width: 200px;
	@media(max-width: 768px){
		display: block;
	}
	&__search-field{
		height: 40px;
	  width: 100%;
		border-style: solid;
		border-width: 2px;
		border-radius: 50px;
		border-color: #b2b2ae;
		color: #000;
		padding-left: 20px;
		outline:none;
		background-color: #fff;
		font-size: 13px;
		padding-right: 10px;
	}
	&__search-icon{
		width: 1em;
		height: 1em;
		position: absolute;
		top: 0.4em;
		right: 0.5em;
	}
	&__submit{
		opacity: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
    right: 10px;
    position: absolute;
    top: 8px;
    z-index: 9;
	}
}

.search-request{
	display: block;
	@media(max-width: 768px){
		display: none;
	}
}