extends includes/layout
block sprites
	include includes/sprites
block header
	include includes/header
block content
	.wrapper
		include includes/account-content
block footer
	include includes/footer
	.footer-fixed
		a(href="index.html" class="footer-fixed__item-img")
			<i class="fa fa-home " aria-hidden="true"></i>
		a(href="new.html" class="footer-fixed__item-img")
			<i class="fa fa-newspaper-o " aria-hidden="true"></i> 
		a(href="sets.html" class="footer-fixed__item-img")
			<i class="fa fa-archive" aria-hidden="true"></i>
		a(href="mobile-search.html" class="footer-fixed__item-img")
			<i class="fa fa-search" aria-hidden="true"></i>
		a(href="index.html" class="footer-fixed__item-span") Лучшее
		a(href="new.html" class="footer-fixed__item-span") Новое
		a(href="sets.html" class="footer-fixed__item-span" ) Сеты
		a(href="mobile-search.html" class="footer-fixed__item-span") Поиск
