extends includes/layout
block sprites
	include includes/sprites
block header
	.gallery
		.gallery-container
			.gallery-close
				svg
					use(xlink:href="#plus")
			a(href="../../img/picture6.jpg").photo-link-js
				img(src="../../img/gallery1.jpg").gallery-item
				img(src="../../img/gallery2.jpg").gallery-item
				img(src="../../img/gallery3.jpg").gallery-item
				img(src="../../img/gallery4.jpg").gallery-item
				img(src="../../img/gallery5.jpg").gallery-item
				img(src="../../img/gallery1.jpg").gallery-item
				img(src="../../img/gallery3.jpg").gallery-item
				img(src="../../img/gallery4.jpg").gallery-item
				img(src="../../img/gallery2.jpg").gallery-item
				img(src="../../img/gallery3.jpg").gallery-item
				img(src="../../img/gallery5.jpg").gallery-item
				img(src="../../img/gallery1.jpg").gallery-item

	include includes/header

block content
	.wrapper
		include includes/sets-content
block footer
	include includes/footer
	